@bg: #24252D;
@font: #CACACC;
@subfont: #696A6F;
@pink: #EB4888;
@green: #24D05A;
@yellow: #E9BC3F;
@blue: #10A2F5;

body {
  background: @bg;
  color: @font;
  font-family: 'Roboto Mono', monospace;
  font-size: .8em;
  padding: 0;
}

h1 {
  font-weight: 400;
  margin: 0;
}

h2 {
  color: @subfont;
  font-weight: 300;
  margin: 0 0 .5em 0;
}

.links {
  margin: 0 0 .5em 0;
  a {
    color: @font;
  }
}
